
/* GENERAL STYLING */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cherry+Bomb+One&family=Courgette&family=Open+Sans:wght@400;600&family=Poppins&family=Roboto:wght@100&family=Shadows+Into+Light&family=Yellowtail&display=swap');
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(15, 1, 1, 0.87) !important; 
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 600;
  color: #0078d4;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #005ea2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}


button {
  background-color: #33ccff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  margin: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #0da6d9;
}

/* SIGN UP AND SIGN IN (FORM)STYLING*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.signup-form{
  display: flex;
  background: white;
  width: 25rem;
  height: 30rem;
  padding: 0.5% 5% 0 5%;
  margin: 0 0 5% 0;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.signin-form {
  display: flex;
  background: white !important;
  width: 35rem;
  height: 25rem;
  padding: 0.5% 5% 0 5%;
  margin: 0 0 5% 0;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.signup-components {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0 0 0;
}

.form-label {
  font-size: 0.8em;
  text-transform: uppercase;
}

.form-input {
  background-color: transparent !important; 
  width: 80%;
  padding: 12px;
  border:none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
}

.form-input:focus{
  outline: none;
  border-bottom: 1px solid #ff99cc;
  color:  #ff99cc; 
}

.eye-icon{
  margin-left: -1.5rem;
}

.direct-to{
  font-weight: 500;
}

.form-name{
  font-weight: 600;
  font-size: 2.5em;
  font-family: 'Yellowtail', cursive;
  color: #ff99cc;
}

/* INTRO AND HOME PAGE STYLING*/

.headliner {
  font-family: 'Yellowtail', cursive;
  font-weight: 600;
  font-size: 5em;
  letter-spacing: 0.05em;
}

.intro-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-description{
  padding: 1% 15%;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}